html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}


.swiper {
  width: auto;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 98%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.img1{
height: 100%;
width: 100%;
background-image: url(banner3.jpg);
background-size: cover;
}
.img2{
  height: 100%;
  width: 100%;
  background-image: url(banner2.jpg);
  background-size: cover;
  }
  .img3{
    height: 100%;
    width: 100%;
    background-image: url(banner4.jpg);
    background-size: cover;
    }


.swiper {
  margin-left: auto;
  margin-right: auto;
}


.slider1 { 
    height: 155px; 
    width: 55px;
    color: #ffffff;
    border: 2px solid transparent;

    
}
.slider1:hover {  
   border: 2px solid rgb(211, 211, 211);
    
}
.slider2 {
    height: 155px; 
    width: 55px;
    color: #fff;
    
    border: 2px solid transparent;
}
.slider2:hover {  
    border: 2px solid rgb(211, 211, 211);    
 }
 
 
 
