*{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
  
  }

  /* Navigationbar css control  */
  .nav{
    width: auto;
    height: 60px;
    color: white;
    background-color: #131921;
    display: flex;
    padding-left: 10px;
    align-items: center;
    flex-wrap: wrap;
    
    justify-content: space-evenly;
  }
  /* Logo design start css */

  .navlogo{
    display: flex;
    flex-direction: column-reverse;
    justify-content:end;
    align-items: center;
    
  height: 55px;
  width: 120px;
  }
  
  .logo{
    
    height: 35px;
    width: 110px;
    background-size: cover;
  
  
  }
  /* Logo design end css */
  .Border{
    border: border-box;
    border: 2px solid transparent;
  }
 
  .Border:hover{
    border: border-box;
    border: 2px solid rgb(255, 255, 255) ;
   
  }


  /* Delivery or Address css */

  .loc{
  
    height: 55px;
  }
  #loc1{
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 20px;
    color: #ccc;
   font-size: 0.85rem;
  

  }
  #loc2{
    margin-left: 5px;
    
  }

  .icon{
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
 /* Delivery or Address css end */


 .nod{
  margin-left: 20px;
  width: 60px;
  height: 40px;
  background-color: aliceblue;
 }
 /* Navigation search Design css */

 .navsearch{
  margin-left: 20px;
  display: flex;
  height: 45px;
  width: 700px;
  background-color: rgba(218, 216, 216, 0.218);
  border-radius: 5px;
  align-items: center;
  border: 2px solid transparent;
 }
 .navsearch:hover{
  border: 2px solid orange;
 }
 #select{
  height: 45px;
  width:50px ;
  padding-left: 10px;
  color: #0000008d;
  background-color: #e8e8e8;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: transparent;
 }
 #select:hover{
  color: #000000;
  background-color: #cfcece;
  
 }
 .search{
  padding-left: 20px;
  font-size: 1rem;
  color: #000000;
  height: 45px;
  width:850px ;
  border: transparent;
 }
 .searchicon{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcb04d;
  height: 45px;
  width:65px ;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: transparent;
 }

 /* Country section css */
 .flag{
  background-color: rgba(0, 255, 255, 0);
  height: 55px;
  width: 100px;
  display: flex;
  
  align-items: center;
  
  
 }
 .india{
  margin-left: 10px;
  height: 20px;
  width: 29px;
  background-image: url("india-flag-icon.svg");
  background-repeat: no-repeat;
  background-size: cover; 
        
 }

 .en{
  border: transparent;
  margin-left:10px ;
  background-color: #00000000;
  color: white;
 }
 /* Country section css end */

/* Account or list css */
.navAccount{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55px;

}

.Account{
  padding-left: 5px;
  

  font-size: 0.80rem;
}
.list{
  font-size: medium;
  color: #ffffff;
  background-color: #0F1111;
  border: transparent;
}
/* end */


/* Return option section css */
.navReturn{
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.re{
  font-size: 0.85rem;
}
.or{
  font-size: 1rem;
}
/* <!-- Shopping & cart --> */
.cart{
  height: 55px;
  display: flex;
  align-items: end;
}

.carticon{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopicon{
  font-size: 30px;
}

/* Second navigation bar */

.nav2{
  width: auto;
  height: 40px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
  

}
.ber3{
  color: white;
  display: flex;
  list-style: none;
  margin-left: 20px;

}
.navtext1{
  padding-left: 5px;
}
.navtext{
  color: white;
  margin: 10px;
  list-style: none;
}

.Border1{
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  height: 32px;
}
.Border1:hover{
  border:2px solid white ;
}
/* Second navigation bar end*/

  
/* .slidetext{
  text-align: center;
  height: 40px;
  width: 80%;
  position: relative;
  background-color: #af6262;
} */





 